html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(32, 31, 31, 0.885);
}

header {
  width: 100%;
  color: white;
  background-color: #004d41;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
.header-logo {
  max-width: 10rem;
}

.app-navbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.app-navbar a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

/************* APP PAGE ***********/
/************* MAIN **************/

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.grid-item {
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.grid-image {
  max-width: 50%;
}
.app-grid-item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-grid-item > a > img {
  padding-bottom: 1rem;
}

/************* CONTROL PAGE *************/
/************* MAIN *********/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.control-header {
  display: flex;

  background-color: #004d41;
}

.fa-arrow-left {
  padding-left: 1rem;
  color: white;
}

.control-header > h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  flex-basis: 100%;
  text-align: center;
}

.control-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading-image {
  margin-bottom: 1rem;
}
#usage {
  display: flex;
  justify-content: center;
}
#usage > p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
#counter {
  font-size: 2.2rem;
  color: #ffb633;
}
#switch-all {
  grid-column: span 2;
}

.temperature {
  margin-bottom: 3rem;
}
.temperature h2,
h3 {
  text-align: center;
}
.timer h2,
h3 {
  text-align: center;
}
.control-panel {
  display: flex;
  justify-content: space-around;
}
.control-panel button {
  background-color: #004d40;
  border-radius: 50%;
  border: none;
  box-shadow: 0.5rem 0.3rem 0.5rem grey;
  max-width: 12rem;
  max-height: 12rem;
}
.control-panel img {
  width: 100%;
}
/************* Style the grid items  *************/
.fa-plug {
  padding-right: 2rem;
}
.box-title {
  letter-spacing: 0.2rem;
}

.rooms .grid-item:last-child {
  display: flex;
  flex-direction: column;
}
.box-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box-2 > label {
  flex: 0;
}

/************ FOOTER ********/

.widescreen {
  display: none;
}
.small-screen .mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 1000;
}
/*
.address {
  padding-inline-start: 2rem;
}
.social-media {
  padding: 2rem;
}
.social-media > a {
  padding-inline-end: 1rem;
}
*/
/***********ON/OFF SWITCH**************/
.toggle {
  flex: 1 0 100%;
  padding-top: 2rem;
}

.toggle-checkbox {
  display: none;
}

.toggle-slot {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5rem;
  width: 6rem;
  border: 0px solid transparent;
  border-radius: 10rem;
  background-color: #f7f7f7;
  transition: background-color 250ms;
  padding-left: 1rem;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #ffb632;
}

.toggle-button {
  transform: translate(0.3rem, 0rem);
  position: absolute;
  top: 0.25rem;
  left: 0rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #004d40;
  box-shadow: inset 0px 0px 0px 0.605em #004d40;
  transition: background-color 500ms 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #004d40;
  box-shadow: inset 0px 0px 0px 1rem #004d40;
  transform: translate(3.75rem, 0rem);
}

.toggle-text {
  display: none;
  color: #004d40;
  padding-inline-start: -0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-text {
  display: block;
}

/************ BOTTOM MENU *****************/

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  height: 5rem;
  box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-bottom-nav__item--active {
  color: #ffb632;
}
.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}
