html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
header {
  color: white;
  background-color: #004d40;
  width: 100%;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 7rem;
}
header nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
header nav a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
header img {
  max-width: 10rem;
}
.container {
  margin-top: 7rem;
}
.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container > * {
  flex-basis: 100%;
  flex-grow: 1;
}
.welcome-text {
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  color: #004d41;
  font-weight: 600;
  margin-top: 4rem;
}
.Remo-logo {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-top: 4rem;
}
.Remo-logo img {
  max-width: 70%;
}
.main-text {
  margin-top: 8rem;
  font-size: 1.6rem;
  color: #004d41;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}
.start {
  margin-top: 8rem;
  margin-bottom: 11rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgb(255, 182, 51);
  border-radius: 12px;
  color: #004d41;
  padding: 1.2rem;
}
footer {
  text-align: center;
  background-color: #004d40;
  height: 7vh;
  padding-top: 0.5rem;
  color: white;
  min-width: 100%;
}
@media only screen and (min-width: 426px) {
  .Remo-logo {
    margin-top: 3rem;
  }
  .welcome-text {
    font-size: 2.2rem;
  }
  .main-text {
    font-size: 2.2rem;
    margin-top: 6rem;
  }
  .start {
    font-size: 2.2rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 769px) {
  .Remo-logo {
    margin-top: 4rem;
  }
  .Remo-logo img {
    max-width: 80%;
  }
  .welcome-text {
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  .main-text {
    font-size: 2.5rem;
    margin-top: 7rem;
  }
  .start {
    font-size: 2.5rem;
    border-radius: 15px;
    margin-top: 7rem;
    margin-bottom: 10rem;
    padding: 1.5rem;
  }
}
