html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
.background-image {
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  width: 200%;
  margin: 0 0 -1rem;
}
.background-image img {
  width: 200%;
  height: 200%;
}
header {
  width: 100%;
  color: white;
  background-color: #004d41;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
header img {
  max-width: 10rem;
}
header nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
header nav a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}
.wrapper > * {
  flex-grow: 1;
  flex-basis: 100%;
}
.Remo-logo {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.Remo-logo img {
  width: 100%;
  min-height: 251px;
  min-width: 590px;
}
.main-text {
  margin: 0;
  position: absolute;
  top: 53%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #004d41;
  font-weight: 600;
  width: 48rem;
  font-style: italic;
  text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white,
    1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}
.start {
  font-size: 3rem;
  margin: 0px;
  position: absolute;
  top: 70%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 23rem;
  font-weight: 600;
  height: 7rem;
  background-color: rgb(255, 182, 51);
  border-radius: 15px;
  color: #004d41;
}
h1 {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 100%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #004d41;
  font-weight: 600;
  width: 17rem;
}
footer {
  text-align: center;
  background-color: #004d40;
  height: 7vh;
  padding-top: 0.5rem;
  color: white;
  width: 200%;
}
