* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #f7f7f7;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 7rem;
}
main img {
  width: 100%;
}
header {
  color: white;
  background-color: #004d40;
  width: 100%;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 7rem;
}
header nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
header nav a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
header img {
  max-width: 10rem;
}
.welcome-text {
  font-size: 1.6rem;
  color: #004d41;
  font-weight: 600;
  margin-top: 4rem;
}
.remo-logo {
  max-width: 85%;
  margin-top: 2rem;
}
.main-text {
  margin-top: 6rem;
  font-size: 1.6rem;
  color: #004d41;
  font-weight: 600;
  font-style: italic;
  text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white,
    1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}
footer {
  text-align: center;
  background-color: #004d40;
  height: 7vh;
  color: white;
  padding-top: 0.5rem;
}
.get-started {
  margin-top: 9rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgb(255, 182, 51);
  border-radius: 12px;
  color: #004d41;
  padding: 1rem;
}
.content {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.get-started a {
  text-decoration: none;
  color: #004d41;
}
@media only screen and (min-width: 426px) {
  .welcome-text {
    font-size: 2rem;
    margin-top: 5rem;
  }
  .remo-logo {
    max-width: 75%;
  }
  .main-text {
    font-size: 2rem;
  }
  .get-started {
    font-size: 2rem;
    border-radius: 15px;
    padding: 1.4rem;
  }
}
@media only screen and (min-width: 769px) {
  .welcome-text {
    font-size: 2.4rem;
    margin-top: 6rem;
  }
  .remo-logo {
    max-width: 95%;
  }
  .main-text {
    font-size: 2.4rem;
  }
  .get-started {
    font-size: 2.4rem;
    border-radius: 18px;
    padding: 1.8rem;
  }
}
