* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #f7f7f7;
  background-position: center;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9rem 0;
}
header {
  color: white;
  background-color: #004d40;
  width: 100%;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 7rem;
}
header nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
header nav a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
header img {
  max-width: 10rem;
}
.main {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}
.main h1 {
  font-size: 36px;
  text-align: center;
}
.main .box {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.box input {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(225, 225, 225, 1);
  border-radius: 40px;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: black;
  padding-left: 20px;
}
.box input::placeholder {
  color: gray;
}
.box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.main .rememberME {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
  gap: 1rem;
}
.rememberME label input {
  accent-color: #fff;
  margin-right: 3px;
}
.rememberME a {
  color: black;
  text-decoration: none;
}
.rememberME a:hover {
  text-decoration: underline;
}
.main .submit {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: 2px solid rgba(225, 225, 225, 1);
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(225, 225, 225, 0.1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.main .register {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}
.register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  background-color: #004d40;
  height: 7vh;
  padding-top: 0.5rem;
  color: white;
}
/* about us page */
.aboutUs {
  background-image: none;
  background-color: #f7f7f7;
  padding: 0.5rem;
}
.firstSection figure img,
.secondSection figure img {
  width: 100%;
  height: auto;
}
.firstSection {
  position: relative;
  overflow: hidden;
}
.firstSection .firstDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(225, 225, 225, 0.4);
  padding: 0.2rem 0.5rem;
  width: 80%;
  min-height: 60%;
  color: black;
  border: rgba(225, 225, 225, 0.4) solid 1px;
  border-radius: 5px;
  font-size: larger;
}
.secondSection .secondDiv .ul {
  display: flex;
  flex-grow: row nowrap;
  justify-content: space-between;
  padding: 0.5rem;
  color: black;
}
.secondSection .secondDiv .ul ul {
  list-style-type: none;
  line-height: 2rem;
  font-size: larger;
}
.firstDiv h1,
.secondDiv h1 {
  border-bottom: black solid 1px;
  display: inline-block;
  padding-bottom: 0.3rem;
  color: black;
}
.firstDiv p {
  padding-top: 0.5rem;
}
@media only screen and (min-width: 426px) {
  .secondSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .secondSection figure {
    flex-basis: 50%;
  }
  .ul {
    flex-direction: column;
  }
  .firstSection .firstDiv {
    min-height: 30%;
  }
}
@media only screen and (min-width: 768px) {
  .secondSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .secondSection figure {
    flex-basis: 50%;
  }
  .ul {
    flex-direction: row;
    gap: 7rem;
  }
  .firstSection .firstDiv {
    min-height: 30%;
  }
}
/*contact us */
.contactBody {
  background-image: none;
}
.contact {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 9rem 0;
  /*height: 100vh;*/

  background-color: #f4f4f4;
}
.details {
  line-height: 2rem;
}
.details h1 {
  padding-bottom: 1rem;
  border-bottom: black solid 1px;
  padding-top: 1rem;
  text-align: center;
}
.details ul {
  list-style-type: none;
  padding-top: 1rem;
  text-align: center;
}
.container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;

  width: 100%;
  border: #f5f6f7 solid 5px;
}
.contactUs {
  text-align: center;
  border: #f5f6f7 solid 5px;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 5px;
}
form {
  display: grid;
  gap: 10px;
}
/*label, input, textarea {
  width: 100%; 
}*/
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.contactFooter {
  background-color: #fff;
  color: black;
}
.contactFooter h2 {
  display: inline-block;
  border-bottom: black solid 1px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.social-icon a img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .container {
    max-width: 80%;
  }
  .details {
    flex-basis: 50%;
    border-left: black solid 1px;
    padding-left: 1rem;
  }
}
/* register page */
.registerPage {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  flex-flow: column nowrap;
  border: solid 1px rgba(247, 244, 244, 0.5);
  margin: 9rem 0;
}
.registerPage h1 {
  padding-bottom: 1rem;
}
.form-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  width: 100%;
}
.form-group input {
  height: 3rem;
  border: 1px solid rgb(203, 203, 203);
}
.submitRegister {
  font-size: large;
  margin: 1rem 0rem;
}
.loginLink {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.loginLink:hover {
  text-decoration: underline;
}
