html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(18, 18, 18, 0.885);
  background-color: #364155;
}
.wrapper {
  background-image: url(images/remote-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/************** HEADER & NAVBAR/BURGER MEMU ***********/
header {
  display: flex;
  flex-direction: column;
  margin-block-end: 3rem;
}
.logo {
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  margin-block-end: 2rem;
}
#logo {
  width: 40%;
  height: auto;
}
nav {
}
.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navlinks > li {
  background-color: #dddcdcbd;
  padding: 0.4rem 5rem;
  margin-block-end: 1rem;
  border-radius: 1rem;
}
.navlinks > li > a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.2rem;
}

/************* MAIN *********/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headings {
  margin-block-end: 4rem;
}
h1 {
  font-size: 4rem;
  margin-block-end: 3rem;
}
.switchpanel {
  margin-block-end: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 3.2rem;
  margin-block-end: 2rem;
}
footer {
  display: flex;
  justify-content: space-between;
}
.address {
  padding-inline-start: 2rem;
}
.social-media {
  padding: 2rem;
}
.social-media > a {
  padding-inline-end: 1rem;
}

/***********TOGGLE STYLES**************/
.toggle {
  position: relative;
  display: inline-block;
}

.toggle-checkbox {
  display: none;
}

.toggle-slot {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5rem;
  width: 6rem;
  border: 0px solid transparent;
  border-radius: 10rem;
  background-color: #bed6ff;
  transition: background-color 250ms;
  padding-left: 1rem;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #d0ff5d;
}

.toggle-button {
  transform: translate(0.3rem, 0rem);
  position: absolute;
  top: 0.25rem;
  left: 0rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #1b1464;
  box-shadow: inset 0px 0px 0px 0.605em #1b1464;
  transition: background-color 500ms 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #d0ff5d;
  box-shadow: inset 0px 0px 0px 1rem #1b1464;
  transform: translate(3.75rem, 0rem);
}

.toggle-text {
  display: none;
  color: #1b1464;
  padding-inline-start: -0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-text {
  display: block;
}
